$theme-color: #8888ef;
$theme-color-light: #e08989;
$theme-color-red: #dc2a13;
$theme-button-color: #5757c4;
$theme-button-hover: #37378a;
$white: #ffffff;
$hover-btn: #4646c7;
$disable-button: #acacdb;
$error: red;
$text-color: #6336f9;
$text-color-second: #c536f9;

$info: #0062f5;
$info-hover: #0050c8;
$edit: #f2951c;
$edit-hover: #da8517;
$delete: #bc0808;
$delete-hover: #8d0808;
